* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
}

.wrapper {
    width: 1100px;
    margin : auto;
    position: relative;
}


.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: #f38181;
}
.menu {
    float: right;   
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: white;
    z-index: 1;
    border-bottom: 1px solid #f38181;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
} 

nav ul li {
    float: left;
}

nav ul li a {
    font-family: 'comic sans ms';
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
    
}

section{
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color : #f38181;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #f38181;
    width: 100%;
    line-height: 50px;
}

a.tbl-kuning {
    background: #fce38a;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-kuning:hover {
    background: pink ;
    text-decoration: none;
}

a.tbl-pink {
    background: pink;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}
a.tbl-pink:hover {
    background: #fce38a ;
    text-decoration: none;
}

a.tbl-youtube {
    border-radius: 3px;
    
    padding: 15px 20px 15px 20px;
    background: #FF0000;
    text-decoration: none;
}
p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    font-family: 'comic sans ms'
}

.tengah {
    text-align: center;
    width: 100%;
}

